<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<div th:replace="~{layout/navbar::navbar}"></div>
<div style="height: 100px"></div>
<h1>Create Customer</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <div class="container">
        <button type="button" class="btn btn-success">
            <a href="/customer" style="color: black">Customer list</a>
        </button>
        <div class="row bg-white p-lg-5">
            <div class="col-lg-12">
                <h3 class="text-center">Thêm Khách hàng: </h3>
                <form method="post">
                    <div >
                        <div class="mb-2">
                            <lable>Tên khách hàng: </lable>
                            <input type="text" class="form-control" th:field="*{customerName}" required>
                        </div>
                        <div class="mb-2">
                            <lable>Loại khách hàng: </lable>
<!--                            <input type="text" class="form-control" th:field="*{customerType}" required>-->
                            <select  th:field="*{customerType}" class="form-control form-select" >
                                <option th:each="customerType: ${customerTypes}" th:text="${customerType.customerTypeName}" th:value="${customerType.customerTypeId}"></option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <lable>Ngày sinh: </lable>
                            <input type="date" class="form-control" th:field="*{customerBirthday}" >
                        </div>
<!--                        <div>-->
<!--                            <lable>Giới tính: </lable>-->
<!--&lt;!&ndash;                            <select name="" id="">&ndash;&gt;-->
<!--&lt;!&ndash;                                <option value="1"  th:field="*{customerGender}">Nam</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option value="0"  th:field="*{customerGender}">Nữ</option>&ndash;&gt;-->
<!--                            <input type="text" class="form-control" th:field="*{customerGender}" >-->
<!--&lt;!&ndash;                            </select>&ndash;&gt;-->
<!--                        </div>-->
                        <div class="mb-2">
                            <lable>Giới tính: </lable>
                            <select th:field="*{customerGender}" class="form-control form-select">
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <lable>CCCD: </lable>
                            <input type="text" class="form-control" th:field="*{customerIdCard}" >
                        </div>
                        <div class="mb-2">
                            <lable>SĐT: </lable>
                            <input type="text" class="form-control" th:field="*{customerPhone}" >
                        </div>
                        <div class="mb-2">
                            <lable>Email: </lable>
                            <input type="text" class="form-control" th:field="*{customerEmail}" >
                        </div>
                        <div class="mb-2">
                            <lable>Địa chỉ: </lable>
                            <input type="text" class="form-control" th:field="*{customerAddress}" >
                        </div>
<!--                        <div>-->
<!--                            <lable>Thể loại: </lable>-->
<!--                            <select  th:field="*{category}">-->
<!--                                <option th:each="category: ${categories}" th:text="${category.name}" th:value="${category.id}"></option>-->
<!--                            </select>-->
<!--                            &lt;!&ndash;                        <input type="text" class="form-control" th:field="*{category}" >&ndash;&gt;-->
<!--                        </div>-->
                        <div class="mb-2">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>
</body>
</html>