<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Delete Customer</title>
</head>
<body>
<div th:replace="~{layout/navbar::navbar}"></div>
<p>
    <a href="/customer">Customer list</a>
</p>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{customerId}">
    <table>
        <tr>
            <td>Tên khách hàng: </td>
            <td th:text="${customer.customerName}"></td>
        </tr>
        <tr>
            <td>Loại khách hàng: </td>
            <td th:text="${customer.customerType.customerTypeName}"></td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td th:text="${customer.customerBirthday}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete customer"></td>
        </tr>
    </table>
</form>
</body>
</html>