<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Blog</title>
    <link rel="stylesheet" href="assert/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="assert/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<h2>List Blog</h2>

<div class="container-fluid">
    <div class="col-lg-12">
        <button class="btn btn-primary align-middle" onclick="window.location.href='/create-customer'">
            CREATE
        </button>
        <div>
            <input th:action="@{/list}" type="text" name="search">
            <input type="submit" value="tìm kiếm ">
        </div>
        <table class="table table-striped table-bordered" id="tableBlog">
            <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã KH</th>
                <th scope="col">Tên KH</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Giới tính</th>
                <th scope="col">CCCD</th>
                <th scope="col">SĐT</th>
                <th scope="col">Email</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Loại KH</th>
                <th scope="col">Detail</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer, iTer: ${customers}">
                <td th:text="${iTer.count}"></td>
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${#dates.format(customer.customerBirthday, 'yyyy-MM-dd')}"></td>
                <!--                <td  th:if="${customer.customerGender}" th:text="Nam"></td>-->
                <!--                <td  th:if="${!customer.customerGender}" th:text="Nữ"></td>-->
                <td th:text="${customer.customerGender?'Nam': 'Nữ' }"></td>
                <!--                <td th:text="${customer.customerGender==0}? 'Nữ'"></td>-->
                <!--                <td>-->
                <!--                    <span th:if="${customer.customerGender == '1'}">Nam</span>-->
                <!--                    <span th:if="${customer.customerGender == '0'}">Nữ</span>-->
                <!--                </td>-->
                <td th:text="${customer.customerIdCard}"></td>
                <td th:text="${customer.customerPhone}"></td>
                <td th:text="${customer.customerEmail}"></td>
                <td th:text="${customer.customerAddress}"></td>
                <td th:text="${customer.customerType.customerTypeName}"></td>
                <td>
                    <!--                    <button class="btn btn-success">-->
                    <!--                        <a style="color: black"-->
                    <!--                           th:href="@{/view-blog/__${blog.id}__}">Detail</a>-->
                    <!--                    </button>-->
                    Detail
                </td>
                <td>
                    <button class="btn btn-info">
                        <a style="color: black"
                           th:href="@{/edit-customer/__${customer.customerId}__}">Edit</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger">
                        <a style="color: black"
                           th:href="@{/delete-customer/__${customer.customerId}__}">Delete</a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--// phân trang-->
<div>
    <a th:href="@{'/customer'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customer'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>