<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
<h1>Delete blog</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/">Blog list</a>
</p>
<form th:action="@{/view-blog}" th:object="${blog}" method="get">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên tác giả: </td>
            <td th:text="${blog.name}"></td>
        </tr>
        <tr>
            <td>Nội dung: </td>
            <td th:text="${blog.content}"></td>
        </tr>
        <tr>
            <td>Tác giả:</td>
            <td th:text="${blog.author}"></td>
        </tr>
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td><input type="submit" value="Delete blog"></td>-->
<!--        </tr>-->
    </table>
</form>
</body>
</html>