<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::header}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/slideHome.css">
</head>
<body>
<div  th:fragment="slide">
    <section>
        <div class="slice">
            <div class="content">
                <h2>Sảnh ngoại cảnh</h2>
                <p>Đưa đón sân bay</p>
                <p>Bãi biển riêng</p>
                <p>Wi-Fi miễn phí trong tất cả các phòng!</p>
                <p>Dọn phòng hằng ngày</p>
            </div>
        </div>
        <div class="slice">
            <div class="content">
                <h2>Phòng ngủ</h2>
                <p> 2 giường đơn hoặc 1 giường lớn</p>
                <p>  Diện tích phòng: 40 m²</p>
                <p>Ban công - sân hiên</p>
                <p>Vòi hoa sen - tắm bồn</p>
            </div>
        </div>
        <div class="slice">
            <div class="content">
                <h2>Bãi biển</h2>
                <p>Bãi biển riêng</p>
                <p>Bãi cát trắng đẹp - sạch sẽ</p>
            </div>
        </div>
        <div class="slice">
            <div class="content">
                <h2>Sân chơi- giải trí</h2>
                <p>Quán bar</p>
                <p>Bida</p>
                <p>Bóng bàn</p>
            </div>
        </div>
        <div class="slice">
            <div class="content">
                <h2>Hồ bơi</h2>
                <p>Bể bơi [ngoài trời]</p>
                <p>Diện tích rộng</p>
                <p>Sạch sẽ - thoáng mát</p>
                <p>Tiện lời</p>
                <p>Chỗ bơi dành cho trẻ em</p>
            </div>
        </div>
    </section>
    </div>
</body>
</html>